/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/
h1 {
  color: white;
  text-align: center;
}

h1 {
 color: white;
 text-align: center;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
  color: white;
  text-align: center;
}

body {
  background-color: #262626
}

h2 {
  color: white;
  text-align: center;
}
.new-palette-form {
  width: 40%;
  height:10%;
  padding-left: 20px;
}

.color-picker {
  padding-left: 20px;
}

.colorTile {
  border-radius: 5px;
  overflow:hidden;
  width: 100%;
  height: 4em;
  display: inline-block;
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
  margin: auto;
}

.colorShow {
  border-radius: 5px;
  overflow:hidden;
  width: 100%;
  height: 10em;
  display: inline-block;
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
}

.show{
  width: 50%;
  height: 55%;
  display: inline-block;
  padding-left: 20px;
}

.color{
  width: 20%;
  height: 10em;
  display: inline-block;
}

p {
  color: white;
  font-size: 24px;
  text-align: center;
  font-family: 'Palatino MS'
}

.description {
  text-align: center;
  color: white
}

div.field {
  margin: 1em 3em;
}

div.actions {
  text-align: center;
}

.navbar {
}
