/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/
.title {
  padding-top: .25em;
  font-family: 'Permanent Marker', cursive;
  font-size: 4em;
}

.flash {
  color: yellow;
}

a:hover {
  color: inherit;
}

.create {
  padding-left: 2em;
  padding-top: 1.5em;
}

.left {
  top: 20px;
}

h1 {
 color: white;
 text-align: center;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
  color: white;
  text-align: center;
}

body {
  background-color: #262626
}

#header-background {
  background-image: image-url("colorful-dots.jpg");
  background-repeat: no-repeat;
  height: 8em;
  background-size: cover;
}

h2 {
  color: white;
  text-align: center;
}
.new-palette-form {
  width: 40%;
  height: 10%;
  padding-left: 20px;
}

.color-picker {
  padding-left: 20px;
}

.review-form {
  color: white;
  font-family: "Georgia";
  width: 60%;
  margin-left:2%;
}

.colorTile {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 4em;
  display: inline-block;
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
  margin: auto;
}

.colorShow {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 10em;
  display: inline-block;
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
}

.show{
  width: 50%;
  height: 55%;
  display: inline-block;
  padding-left: 20px;
}

.color {
  width: 20%;
  height: 10em;
  display: inline-block;
}

p {
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: 'Avenir Next';
}

.description {
  text-align: center;
  color: white;
}

div.field {
  margin: 1em 3em;
}

div.actions {
  text-align: center;
}

.search {
  width: 18em;
  margin: auto;
}

.searchbar {
  width: 50%;
  padding-top: .75em;
  margin: auto;
}
.row {
  padding-top: 1.15em;
}
.review-group {
  color: white;
  font-family:'Georgia';
  margin-left:1em;
}
.review-user {
  float:left;
  margin-right:2%;
}
.review-body {
  margin-left: 4%;
  width: 18em;
  text-align: left;
}

.review-tile {
  border: 3px solid gray;
  border-radius: 10px;
  width: 25em;
  margin-top:5px;
  margin-left:2%;
}
