/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 h1 {
   color: white;
   text-align: center;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }
a {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

body {
  background-color: #262626
}

h2 {
  color: white;
  text-align: center;
}

.tile {
}

.color {
  overflow: hidden;
  width: 20%;
  height: 4em;
  display: inline-block;
}

p {
  color: white;
  font-size: 12px;
  text-align: center;
  font-family: 'Comic Sans Ms'
}

.description {
  text-align: center;
  color: white

}

div.field {
  margin: 1em 3em;
}

div.actions {
  text-align: center;
}
