/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/
<<<<<<< HEAD:app/assets/stylesheets/application.css

/* .head-background {
  background-img: url('images/Wedding-Collections-Header.jpg')
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  height: 400px;
} */

h1 {
  color: white;
  text-align: center;
=======
.title {
  padding-top: .25em;
  font-family: 'Permanent Marker', cursive;
  font-size: 4em;
}

.flash {
  color: yellow;
}

a:hover {
  color: inherit;
}

.create {
  padding-left: 2em;
  padding-top: 1.5em;
}

.left {
  top: 20px;
>>>>>>> 8080161222e18726c22c81503816f556df0a986c:app/assets/stylesheets/application.scss
}

h1 {
 color: white;
 text-align: center;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
  color: white;
  text-align: center;
  font-family: 'Century Schoolbook';
  font-size: 1em;

}


body {
  background-color: #262626;
}

#header-background {
  background-image: url("images/colorful-dots-artistic-abstract-website-header.jpg");
  height: 7em;
}

#header-background {
  background-image: image-url("colorful-dots.jpg");
  background-repeat: no-repeat;
  height: 8em;
  background-size: cover;
}

h2 {
  color: white;
  text-align: center;
}

.new-palette-form {
  width: 40%;
  height: 10%;
  padding-left: 20px;
}

.color-picker {
  padding-left: 20px;
}

.review-form {
  color: white;
  font-family: "Georgia";
}

.colorTile {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 4em;
  display: inline-block;
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
  margin: auto;
}

.colorShow {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 10em;
  display: inline-block;
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
}

.show {
  width: 50%;
  height: 55%;
  display: inline-block;
  padding-left: 20px;
}

.color {
  width: 20%;
  height: 10em;
  display: inline-block;
}

p {
  color: white;
  font-size: 16px;
  text-align: center;
<<<<<<< HEAD:app/assets/stylesheets/application.css
  font-family: 'Georgia';
=======
  font-family: 'Avenir Next';
>>>>>>> 8080161222e18726c22c81503816f556df0a986c:app/assets/stylesheets/application.scss
}

.description {
  text-align: center;
  color: white;
}


div.field {
  margin: 1em 3em;
}

div.actions {
  text-align: center;
}

<<<<<<< HEAD:app/assets/stylesheets/application.css
#submit {
  height: 37px;
}

.navbar {
  margin-left: 27em;
}

#searchbar {
  display: inline-flex;
  padding-left: 48em;
  margin-top: -1em;
}

#search {
  width: 13em;
=======
.row {
  padding-top: 1.15em;
}

.search {
  width: 18em;
  margin: auto;
}

.searchbar {
  width: 50%;
  padding-top: .75em;
  margin: auto;
>>>>>>> 8080161222e18726c22c81503816f556df0a986c:app/assets/stylesheets/application.scss
}
